@{
    ViewBag.Title = "Привет, студент!";
}

<div class="tail-content">
    <div class="header clear">
        <div class="main wrapper-header">
            <div class="row-top-menu clear">
                <div class="module">
                    @Html.Partial("Menu")
                </div>
                <div class="phone-number-container">
                    <div class="phone-number">8 (953) 916 0500</div>
                    <a class="call-order" href="#popup">Заказать звонок</a>
                    <div style="display:none">
                        <div id="popup" class="call-order-form popup">
                            <div class="popup" style="width: 400px;">
                                <h2>Оставьте заявку</h2>
                                <p>И мы обязательно свяжемся с Вами</p>
                                <table>
                                    <tr>
                                        <td class="labels">Имя</td>
                                        <td>@Html.TextBox("Name")</td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Телефон</td>
                                        <td>@Html.TextBox("Phone")</td>
                                    </tr>
                                    <tr>
                                        <td class="labels"></td>
                                        <td><a id="sendOrder" class="order-button" href="javascript:void(0);">Отправить заявку</a></td>
                                    </tr>
                                </table>
                                @Html.Hidden("Training")
                            </div>
                        </div>
                    </div>
                    <div style="display:none">
                        <div id="wasSentPopup" style="width: 400px;">
                            Заявка отправлена. Спасибо.
                        </div>
                    </div>
                    <a id="wasSent" href="#wasSentPopup"></a>
                </div>
            </div>
            <div class="row-logo clear">
                <h1 id="logo">
                    <a href="#" title="Привет, студент!">
                        <p class="logo-main">Привет, студент!</p>
                        <p class="slogan">Помощь в выполнении учебных заданий любой сложности</p>
                        <img title="HighSchool" src="@Url.Content("~/Content/img/logo.jpg")" style="display: none;" alt="logo"/>
                    </a>
                </h1>
            </div>
            <div class="indent-content">
                <div class="top-box clear">
                    <div class="top-box">
                        <div class="border-top">
                            <div class="border-bottom">
                                <div class="border-left">
                                    <div class="border-right">
                                        <div class="corner-top-left">
                                            <div class="corner-top-right">
                                                <div class="corner-bottom-left">
                                                    <div class="corner-bottom-right clear">
                                                        <div class="top-box-inner">
                                                            <div class="clear" style="margin-bottom: 30px;">
                                                                <div class="col-1 fleft">
                                                                    <img src="@Url.Content("~/Content/img/1page_img_1.png")" class="png globus" alt=""/>
                                                                </div>
                                                                <div class="col-2 fleft">
                                                                    <h3>Привет, студент!</h3>
                                                                    <em>Ты сдашь в момент:<br/><b>Курсач, диплом, любой предмет.</b><br/>Лишь стоит обратиться к нам - <br/>И будет все легко и просто Вам!</em>
                                                                    <ul class="main-tesises">
                                                                        <li>Выполнение работ <a href="javascript:void(0);">любой сложности</a></li>
                                                                        <li>Более <a href="javascript:void(0);">12 лет</a> успешной работы</li>
                                                                        <li><a href="javascript:void(0);">Контроль качества</a> и проверка на плагиат каждой работы</li>
                                                                        <li><a href="javascript:void(0);">Дисконтная программа</a> для постоянных клиентов</li>
                                                                        <li><a href="javascript:void(0);">Персональный менеджер</a> для каждого клиента</li>
                                                                    </ul>
                                                                    <div class="row-col clear">
                                                                        <a href="#" class="col-1a fleft">
                                                                            <div class="inner-extra-indent">
                                                                                Заказать работу
                                                                            </div>
                                                                        </a>
                                                                        <a href="@Url.Action("TusurOrder", "Home")" class="col-2a fleft">
                                                                            <div class="inner-extra-indent">
                                                                                Студентам ТУСУР
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content">
                    <div class="clear">
                        <div id="right">
                            <div class="right-indent">
                                <div class="clear">
                                    <div class="wrapper-box module s1">
                                        <script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>
                                        <!-- VK Widget -->
                                        <div id="vk_groups"></div>
                                        <script type="text/javascript">
                                            VK.Widgets.Group("vk_groups", { mode: 2, width: "200", height: "400" }, 24614309);
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="container">
                            <div class="wrapper-container">
                                <div class="repetitor">
                                    <h2>Услуги репетитора по школьным и студенческим дисциплинам</h2>
                                    <br/>
                                    <p>Критерии выбора репетитора зависят от того, для какой цели вам необходим преподаватель:</p>
                                    <p><b>• Подготовка к ЕГЭ:</b> в первую очередь следует обратить внимание на опыт репетитора по подготовке к ЕГЭ (репетитор должен владеть форматом ЕГЭ и методикой подготовки к сдаче именно этого экзамена).</p>
                                    <p><b>• Повысить успеваемость в школе:</b> в качестве репетитора для улучшения успеваемости в школе хорошо подойдет школьный учитель, студент или молодой аспирант. Важным фактором будет являться предпочтение самого ребенка, с кем ему будет интереснее заниматься.</p>
                                    <p><b>• Научиться решать нестандартные задачи:</b> в случае подбора репетитора для подготовки к участию в олимпиадах следует четко представлять, какие именно задачи следует подтянуть (это лучший вариант), либо подбирать репетитора, которые уже имеет успешный опыт подготовки к требуемым олимпиадам и хорошо знаком их с программой.</p>
                                    <p><b>• Повысить успеваемость в университете:</b> при поиске репетитора для подготовки к сессии хорошим вариантом будет репетитор одного из технических вузов (ТГУ, ТПУ, ТУСУР) — такие репетиторы знакомы со спецификой программы по определённому предмету и помогут в короткие сроки освоить новый материал.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tail-footer">
        <div class="main">
            <div class="footer clear">
                <div class="fright">
                    <span>HelloStudent @DateTime.Now.Year &copy; </span> Все права защищены. &nbsp;&nbsp;&nbsp;
                </div>
                <div class="fleft">
                    <div class="module">
                        @Html.Partial("Menu")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.call-order').fancybox({
        centerOnScroll: true
    });
    
    $('#sendOrder').click(function () {
        jVal.errors = false;
        jVal.name();
        jVal.phone();
        jVal.sendIt();
        return false;
    });
    
    $("#wasSent").fancybox({
        showCloseButton: true,
        scrolling: 'no',
        centerOnScroll: true,
        onClosed: function () {

        },
        onComplete: function () {
            $.fancybox.hideActivity();
        }
    });
    
    var jVal = {
        'name': function () {
            var ele = $('#Name');
            var pos = ele.position();
            ele.parent().append('<div id="nameInfo" class="info"></div>');
            var nameInfo = $('#nameInfo');

            nameInfo.css({
                top: pos.top - 1,
                left: pos.left + ele.width() + 15
            });
            if ($.trim(ele.val()).length < 3) {
                jVal.errors = true;
                nameInfo.addClass('error').html('Напишите как к Вам обращаться').show();
                nameInfo.prev().addClass('error-input');
                ele.removeClass('normal').addClass('wrong');
            } else if (ele.val().length > 255) {
                jVal.errors = true;
                nameInfo.addClass('error').html('Превышен максимальный размер 255 символов').show();
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                nameInfo.prev().addClass('error-input');
            } else {
                nameInfo.removeClass('error');
                ele.removeClass('wrong').addClass('normal');
                nameInfo.prev().removeClass('error-input');
            }
        },
        'phone': function () {
            var ele = $('#Phone');
            var pos = ele.position();
            ele.parent().append('<div id="phoneInfo" class="info"></div>');
            var phoneInfo = $('#phoneInfo');

            phoneInfo.css({
                top: pos.top + 4,
                left: pos.left + ele.width() + 25
            });

            var patt = /^([\+]{1})?[0-9\-]*$/i;

            if (ele.val().length != 0 && (ele.val().length > 15 || ele.val().length < 5 || !patt.test(ele.val()))) {
                jVal.errors = true;
                phoneInfo.addClass('error').html('Введите корректный номер телефона').show();
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                phoneInfo.prev().addClass('error-input');
            } else if (ele.val().length == 0) {
                jVal.errors = true;
                phoneInfo.addClass('error').html('Введите номер телефона').show();
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                phoneInfo.prev().addClass('error-input');
            } else {
                phoneInfo.removeClass('error');
                ele.removeClass('wrong').addClass('normal');
                phoneInfo.prev().removeClass('error-input');
            }
        },
        'sendIt': function () {
            if (!jVal.errors) {
                $.ajax({
                    url: '@Url.Action("CallOrder", "Home")',
                    type: 'POST',
                    data: {
                        Name: $('#popup #Name').val(),
                        Phone: $('#popup #Phone').val()
                    },
                    success: function (data) {
                        $('#wasSent').click();
                    }
                });

                $.fancybox.close();
                $.fancybox.showActivity();
            }
        }
    };
</script>