@{
    ViewBag.Title = "Студентам ТУСУР";
    Layout = "~/Views/Shared/_LayoutMinTusur.cshtml";
}

@model HelloStudent.Models.TusurOrderModel

<div class="order-container">
    @*<div class="title-page">
        <h1>Заказ работ для студентов ТУСУР</h1>
    </div>*@
    <div class="description-page">
        <p style="width: 540px; margin-top: 40px; margin-bottom: 40px;">Студентам <b>ТУСУР</b> рекомендуется оставлять заказ на этой странице. Заказ будет направлен нашей фирме-партнеру, специализирующейся именно на студентах <b>ТУСУР</b>. Специалисты этой компании имеют большой опыт в выполнении работ данного вуза.<br /><br />Для того, чтобы оформить заказ заполните форму, указанную ниже.<br />В графе <b>«шифр»</b> указывается шифр специальности (можно выбрать его из списка ниже). <br />В графе <b>«дополнительно»</b> укажите всю остальную информацию, необходимую для выполнения работы (номер варианта, дополнительные требования, а так же другую необходимую информацию).</p>
        <img style="position: absolute; right: 10px; top: -20px; width: 300px;" src="~/Content/img/depositphotos_3435657-Time-to-learning.png"/>
    </div>
    <hr/>
    <div id="specialities">
        <table id="main_table">
            <thead>
                <tr>
                    <th class="code"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="subheader">
                    <td colspan="2">
                        Программы подготовки бакалавров
                    </td>
                </tr>
                <tr>
                    <td>030300</td>
                    <td><a href="javascript:void(0);">Психология</a>  </td>
                </tr>
                <tr>
                    <td>030900.62</td>
                    <td><a href="javascript:void(0);">Юриспруденция</a>  </td>
                </tr>
                <tr>
                    <td>080100.62</td>
                    <td><a href="javascript:void(0);">Экономика с профилем подготовки "Финансы и кредит"</a>  </td>
                </tr>
                <tr>
                    <td>080200.62</td>
                    <td><a href="javascript:void(0);">Менеджмент с профилем подготовки "Управление проектом"</a>  </td>
                </tr>
                <tr>
                    <td>080500.62</td>
                    <td><a href="javascript:void(0);">Бизнес-информатика</a>  </td>
                </tr>
                <tr>
                    <td>081100.62</td>
                    <td><a href="javascript:void(0);">Государственное и муниципальное управление</a>  </td>
                </tr>
                <tr>
                    <td>210100.62</td>
                    <td><a href="javascript:void(0);">Электроника и наноэлектроника с профилем подготовки "Промышленная электроника"</a>  </td>
                </tr>
                <tr>
                    <td>210400.62</td>
                    <td><a href="javascript:void(0);">Радиотехника с профилем подготовки "Радиотехнические средства передачи, приема и обработки сигналов"</a>  </td>
                </tr>
                <tr>
                    <td>210700.62</td>
                    <td><a href="javascript:void(0);">Инфокоммуникационные технологии и системы связи с профилем подготовки "Системы радиосвязи и радиодоступа"</a>  </td>
                </tr>
                <tr>
                    <td>220400.62</td>
                    <td><a href="javascript:void(0);">Управление в технических системах</a>  </td>
                </tr>
                <tr>
                    <td>230100.62</td>
                    <td><a href="javascript:void(0);">Информатика и вычислительная техника с профилем подготовки "Программное обеспечение средств вычислительной техники и автоматизированных систем"</a>  </td>
                </tr>
                <tr>
                    <td>230100.62</td>
                    <td><a href="javascript:void(0);">Информатика и вычислительная техника с профилем подготовки "Системы автоматизированного проектирования"</a>  </td>
                </tr>
                <tr>
                    <td>230700.62</td>
                    <td><a href="javascript:void(0);">Прикладная информатика</a>  </td>
                </tr>
                <tr>
                    <td>231000.62</td>
                    <td><a href="javascript:void(0);">Программная инженерия</a>  </td>
                </tr>
                <tr class="subheader">
                    <td colspan="2">
                        Программы подготовки специалистов
                    </td>
                </tr>
                <tr>
                    <td>030501</td>
                    <td><a href="javascript:void(0);">Юриспруденция</a>  </td>
                </tr>
                <tr>
                    <td>080105</td>
                    <td><a href="javascript:void(0);">Финансы и кредит</a>  </td>
                </tr>
                <tr>
                    <td>080502</td>
                    <td><a href="javascript:void(0);">Экономика и управление на предприятии (в машиностроении)</a>  </td>
                </tr>
                <tr>
                    <td>080503</td>
                    <td><a href="javascript:void(0);">Антикризисное управление</a>  </td>
                </tr>
                <tr>
                    <td>080504</td>
                    <td><a href="javascript:void(0);">Государственное и муниципальное управление</a>  </td>
                </tr>
                <tr>
                    <td>080801</td>
                    <td><a href="javascript:void(0);">Прикладная информатика в экономике</a>  </td>
                </tr>
                <tr>
                    <td>210105</td>
                    <td><a href="javascript:void(0);">Электронные приборы и устройства</a>  </td>
                </tr>
                <tr>
                    <td>210106</td>
                    <td><a href="javascript:void(0);">Промышленная электроника</a>  </td>
                </tr>
                <tr>
                    <td>210202</td>
                    <td><a href="javascript:void(0);">Проектирование и технология электронно-вычислительных средств</a>  </td>
                </tr>
                <tr>
                    <td>210302</td>
                    <td><a href="javascript:void(0);">Радиотехника</a>  </td>
                </tr>
                <tr>
                    <td>210303</td>
                    <td><a href="javascript:void(0);">Бытовая радиоэлектронная аппаратура</a>  </td>
                </tr>
                <tr>
                    <td>210312</td>
                    <td><a href="javascript:void(0);">Аудиовизуальная техника</a>  </td>
                </tr>
                <tr>
                    <td>210405</td>
                    <td><a href="javascript:void(0);">Радиосвязь, радиовещание и телевидение</a>  </td>
                </tr>
                <tr>
                    <td>220201</td>
                    <td><a href="javascript:void(0);">Управление и информатика в технических системах</a>  </td>
                </tr>
                <tr>
                    <td>230102</td>
                    <td><a href="javascript:void(0);">Автоматизированные системы обработки информации и управления (только для граждан РФ)</a>  </td>
                </tr>
                <tr>
                    <td>230104</td>
                    <td><a href="javascript:void(0);">Системы автоматизированного проектирования</a>  </td>
                </tr>
                <tr>
                    <td>230105</td>
                    <td><a href="javascript:void(0);">Программное обеспечение ВТ и АС</a>  </td>
                </tr>
                <tr class="subheader">
                    <td colspan="2">
                        Программы профессиональной переподготовки
                    </td>
                </tr>
                <tr>
                    <td>002301</td>
                    <td><a href="javascript:void(0);">Информационные системы и технологии</a>  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="sidebar">
        <div class="popup" style="width: 330px;">
            <h2>Заказ работы</h2>
            <br/>
            <p>Пожалуйста, заполните поля и отправьте заказ.<br />Мы свяжемся с Вами в течение 24 часов.</p>
            <div class="first-visit-container">
                <p>Вы первый раз у нас заказываете?</p>
                <input type="radio" id="yes" name="firstvisit" value="1" checked="checked" /><label for="yes">Да</label>
                <input type="radio" id="no" name="firstvisit" value="2" /><label for="no">Нет</label>
            </div>
            @using (Html.BeginForm("TusurOrderFinish", "Home", FormMethod.Post, new { @id = "tusurOrderFormFirst" }))
            {
                <p>При первом заказе Вы получаете <b>скидку 30%</b></p>
                <table>
                    <tr>
                        <td class="labels">ФИО <p class="asterisk">*</p></td>
                        <td>@Html.TextBoxFor(m => m.Fio)</td>
                    </tr>
                    <tr>
                        <td class="labels">Email <p class="asterisk">*</p></td>
                        <td>@Html.TextBoxFor(m => m.Email)</td>
                    </tr>
                    <tr>
                        <td class="labels">Логин <p class="asterisk">*</p></td>
                        <td>@Html.TextBoxFor(m => m.Login)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="help-description-container"><p class="help-description">Логин от ФДО ТУСУР</p></td>
                    </tr>
                    <tr>
                        <td class="labels">Шифр <p class="asterisk">*</p></td>
                        <td>@Html.TextBoxFor(m => m.Cipher)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="help-description-container"><p class="help-description">Последние 2 цифры пароля для расчета варианта</p></td>
                    </tr>
                    <tr>
                        <td class="labels">Код специальности</td>
                        <td>@Html.TextBoxFor(m => m.SpecialityCode)</td>
                    </tr>
                    <tr>
                        <td class="labels">Дисциплина <p class="asterisk">*</p></td>
                        <td>@Html.TextBoxFor(m => m.Subject)</td>
                    </tr>
                    <tr>
                        <td class="labels">Вид работы <p class="asterisk">*</p></td>
                        <td>@Html.DropDownListFor(m => m.Type, Model.WorkTypesListCutVersion)</td>
                    </tr>
                    <tr>
                        <td class="labels">Срочность <p class="asterisk">*</p></td>
                        <td>@Html.DropDownListFor(m => m.Urgency, Model.UrgencyList)</td>
                    </tr>
                    <tr>
                        <td class="labels">Дополнительно</td>
                        <td>@Html.TextAreaFor(m => m.Description, new { placeholder = "Информация из файла \"Help.txt\" значительно ускорит процесс обработки заказа." })</td>
                    </tr>
                    <tr>
                        <td class="labels"></td>
                        <td>
                            <a id="sendOrder" class="order-button" href="javascript:void(0);" onclick="$('#tusurOrderFormFirst').submit();">Отправить заявку</a>
                        </td>
                    </tr>
                </table>
                @Html.Hidden("FirstVisit", true)
            }
            @using (Html.BeginForm("TusurOrderFinish", "Home", FormMethod.Post, new { @id = "tusurOrderForm", @style = "display: none;" }))
            {
                <table>
                    <tr>
                        <td class="labels">ФИО</td>
                        <td>@Html.TextBoxFor(m => m.Fio)</td>
                    </tr>
                    <tr>
                        <td class="labels">Email <p class="asterisk">*</p></td>
                        <td>@Html.TextBoxFor(m => m.Email)</td>
                    </tr>
                    <tr>
                        <td class="labels">Шифр <p class="asterisk">*</p></td>
                        <td>@Html.TextBoxFor(m => m.Cipher)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="help-description-container"><p class="help-description">Последние 2 цифры пароля от ФДО ТУСУР</p></td>
                    </tr>
                    <tr>
                        <td class="labels">Код специальности</td>
                        <td>@Html.TextBoxFor(m => m.SpecialityCode)</td>
                    </tr>
                    <tr>
                        <td class="labels">Дисциплина <p class="asterisk">*</p></td>
                        <td>@Html.TextBoxFor(m => m.Subject)</td>
                    </tr>
                    <tr>
                        <td class="labels">Вид работы <p class="asterisk">*</p></td>
                        <td>@Html.DropDownListFor(m => m.Type, Model.WorkTypesList)</td>
                    </tr>
                    <tr>
                        <td class="labels">Срочность <p class="asterisk">*</p></td>
                        <td>@Html.DropDownListFor(m => m.Urgency, Model.UrgencyList)</td>
                    </tr>
                    <tr>
                        <td class="labels">Дополнительно</td>
                        <td>@Html.TextAreaFor(m => m.Description, new { placeholder = "Информация из файла \"Help.txt\" значительно ускорит процесс обработки заказа." })</td>
                    </tr>
                    <tr>
                        <td class="labels"></td>
                        <td>
                            <a id="sendOrder" class="order-button" href="javascript:void(0);" onclick="$('#tusurOrderForm').submit();">Отправить заявку</a>
                        </td>
                    </tr>
                </table>
                @Html.Hidden("FirstVisit", false)
            }
            <p class="asterisk-description">* - Поля обязательные для заполнения</p>
        </div>
        <div style="padding-left: 20px; margin-top: 30px;">
            <h2>Контактная информация:</h2>
            <br/>
            <p><b>Телефон:</b> +7 913-853-5943</p>
            <p><b>E-mail:</b> kurator@list.ru</p>
            <p><b>ICQ:</b> 574-341-059</p>
            <p><b>Skype:</b> kurator.tomsk</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#main_table td a').click(function() {
        var cipher = $(this).parent().prev().html();
        $('form:visible input[name="SpecialityCode"]').val(cipher);
    });

    $('input[name="firstvisit"]').change(function() {
        if ($('input[name="firstvisit"]:checked').val() == 1) {
            $('#tusurOrderFormFirst').show();
            $('#tusurOrderForm').hide();
        } else {
            $('#tusurOrderFormFirst').hide();
            $('#tusurOrderForm').show();
        }
    });
    
    $('#tusurOrderFormFirst').submit(function () {
        jValOrder.errors = false;
        jValOrder.name();
        jValOrder.email();
        jValOrder.login();
        jValOrder.cipher();
        jValOrder.subject();
        
        if (!jValOrder.errors) {
            return true;
        }
        
        return false;
    });
    
    $('#tusurOrderForm').submit(function () {
        jValOrder.errors = false;
        jValOrder.email();
        jValOrder.cipher();
        jValOrder.subject();
        
        if (!jValOrder.errors) {
            return true;
        }
        
        return false;
    });

    var jValOrder = {
        'name': function() {
            var ele = $('input[name="firstvisit"]:checked').val() == 1 ? $('#tusurOrderFormFirst input[name="Fio"]') : $('#tusurOrderForm input[name="Fio]"');
            var pos = ele.position();
            ele.parent().append('<div id="nameInfo" class="info"></div>');
            var nameInfo = $('#nameInfo');

            nameInfo.css({
                top: pos.top - 1,
                left: pos.left + ele.width() + 15
            });
            if ($.trim(ele.val()).length < 3) {
                jValOrder.errors = true;
                nameInfo.addClass('error').html('Введите ФИО').show();
                nameInfo.prev().addClass('error-input');
                ele.removeClass('normal').addClass('wrong');
            } else if (ele.val().length > 255) {
                jValOrder.errors = true;
                nameInfo.addClass('error').html('Превышен максимальный размер 255 символов').show();
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                nameInfo.prev().addClass('error-input');
            } else {
                nameInfo.removeClass('error');
                ele.removeClass('wrong').addClass('normal');
                nameInfo.prev().removeClass('error-input');
            }
        },
        'login': function () {
            var ele = $('input[name="firstvisit"]:checked').val() == 1 ? $('#tusurOrderFormFirst input[name="Login"]') : $('#tusurOrderForm input[name="Login"]');
            var pos = ele.position();
            ele.parent().append('<div id="loginInfo" class="info"></div>');
            var nameInfo = $('#loginInfo');
            debugger;
            nameInfo.css({
                top: pos.top - 1,
                left: pos.left + ele.width() + 15
            });
            if ($.trim(ele.val()).length < 3) {
                jValOrder.errors = true;
                nameInfo.addClass('error').html('Введите Логин от системы ФДО ТУСУР').show();
                nameInfo.prev().addClass('error-input');
                ele.removeClass('normal').addClass('wrong');
            } else if (ele.val().length > 255) {
                jValOrder.errors = true;
                nameInfo.addClass('error').html('Превышен максимальный размер 255 символов').show();
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                nameInfo.prev().addClass('error-input');
            } else {
                nameInfo.removeClass('error');
                ele.removeClass('wrong').addClass('normal');
                nameInfo.prev().removeClass('error-input');
            }
        },
        'cipher': function () {
            var ele = $('input[name="firstvisit"]:checked').val() == 1 ? $('#tusurOrderFormFirst input[name="Cipher"]') : $('#tusurOrderForm input[name="Cipher"]');
            var pos = ele.position();
            ele.parent().append('<div id="cipherInfo" class="info"></div>');
            var nameInfo = $('#cipherInfo');
            
            nameInfo.css({
                top: pos.top - 1,
                left: pos.left + ele.width() + 15
            });
            
            if ($.trim(ele.val()).length < 3) {
                jValOrder.errors = true;
                nameInfo.addClass('error').html('Введите Шифр').show();
                nameInfo.prev().addClass('error-input');
                ele.removeClass('normal').addClass('wrong');
            } else if (ele.val().length > 255) {
                jValOrder.errors = true;
                nameInfo.addClass('error').html('Превышен максимальный размер 255 символов').show();
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                nameInfo.prev().addClass('error-input');
            } else {
                nameInfo.removeClass('error');
                ele.removeClass('wrong').addClass('normal');
                nameInfo.prev().removeClass('error-input');
            }
        },
        'subject': function () {
            var ele = $('input[name="firstvisit"]:checked').val() == 1 ? $('#tusurOrderFormFirst input[name="Subject"]') : $('#tusurOrderForm input[name="Subject"]');
            var pos = ele.position();
            ele.parent().append('<div id="subjectInfo" class="info"></div>');
            var nameInfo = $('#subjectInfo');
            
            nameInfo.css({
                top: pos.top - 1,
                left: pos.left + ele.width() + 15
            });
            
            if ($.trim(ele.val()).length < 3) {
                jValOrder.errors = true;
                nameInfo.addClass('error').html('Введите Дисциплину').show();
                nameInfo.prev().addClass('error-input');
                ele.removeClass('normal').addClass('wrong');
            } else if (ele.val().length > 255) {
                jValOrder.errors = true;
                nameInfo.addClass('error').html('Превышен максимальный размер 255 символов').show();
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                nameInfo.prev().addClass('error-input');
            } else {
                nameInfo.removeClass('error');
                ele.removeClass('wrong').addClass('normal');
                nameInfo.prev().removeClass('error-input');
            }
        },
        'email': function () {
            var ele = $('input[name="firstvisit"]:checked').val() == 1 ? $('#tusurOrderFormFirst input[name="Email"]') : $('#tusurOrderForm input[name="Email"]');
            var pos = ele.offset();
            ele.parent().append('<div id="emailInfo" class="info"></div>');
            var emailInfo = $('input[name="firstvisit"]:checked').val() == 1 ? $('#tusurOrderFormFirst #emailInfo:first') : $('#tusurOrderForm #emailInfo:first');

            emailInfo.css({
                top: pos.top + 4,
                left: pos.left + ele.width() + 25
            });

            var patt = /^.+@@.+[.].{2,}$/i;
            
            if ($.trim(ele.val()).length > 0) {
                if (!patt.test(ele.val())) {
                    jValOrder.errors = true;
                    emailInfo.addClass('error').html('Введите корректный Email').show();
                    ele.removeClass('normal').addClass('wrong');
                    emailInfo.prev().addClass('error-input');
                } else if (ele.val().length > 50) {
                    jValOrder.errors = true;
                    emailInfo.addClass('error').html('Превышен максимальный размер 50 символов').show();
                    ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                    emailInfo.prev().addClass('error-input');
                } else {
                    emailInfo.removeClass('error');
                    ele.removeClass('wrong').addClass('normal');
                    emailInfo.prev().removeClass('error-input');
                }
            } else {
                jValOrder.errors = true;
                emailInfo.addClass('error').html('Введите Email').show();
                emailInfo.prev().addClass('error-input');
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
            }
        },
        'phone': function () {
            var ele = $('input[name="firstvisit"]:checked').val() == 1 ? $('#tusurOrderFormFirst input[name="Phone"]') : $('#tusurOrderForm input[name="Phone"]');
            var pos = ele.position();
            ele.parent().append('<div id="phoneInfo" class="info"></div>');
            var phoneInfo = $('#phoneInfo');

            phoneInfo.css({
                top: pos.top + 4,
                left: pos.left + ele.width() + 25
            });

            var patt = /^([\+]{1})?[0-9\-]*$/i;

            if (ele.val().length != 0 && (ele.val().length > 15 || ele.val().length < 5 || !patt.test(ele.val()))) {
                jValOrder.errors = true;
                phoneInfo.addClass('error').html('Введите корректный номер телефона').show();
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                phoneInfo.prev().addClass('error-input');
            } else if (ele.val().length == 0) {
                jValOrder.errors = true;
                phoneInfo.addClass('error').html('Введите номер телефона').show();
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                phoneInfo.prev().addClass('error-input');
            } else {
                phoneInfo.removeClass('error');
                ele.removeClass('wrong').addClass('normal');
                phoneInfo.prev().removeClass('error-input');
            }
        }
    };
</script>